@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --card1-gradient-color1: #f12711;
  --card1-gradient-color2: #f5af19;
  --card2-gradient-color1: #7F00FF;
  --card2-gradient-color2: #E100FF;
  --card3-gradient-color1: #3f2b96;
  --card3-gradient-color2: #a8c0ff;
  --card4-gradient-color1: #11998e;
  --card4-gradient-color2: #38ef7d;
  --violet-background: rgba(128,119,203,1);
  --purple-background: rgba(180,4,221,0.88);
  --nav-background: rgba(112, 71, 152, 1);
  --footer-background: rgb(64 39 89);
  --section-background: rgb(85 64 112);
  --button-background: #4f45e5;
  --font-color: white;
}

.section-violet-bg {
  background: var(--section-background)
}

.dark-violet-bg {
  background: var(--footer-background)
}

body {
  color: var(--font-color);
  background-color: var(--footer-background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html {
  scroll-behavior: smooth;
}

nav {
  height: 65px;
  background-color: var(--nav-background);
}

.scroll-down {
  animation-name: colorAnimation;
  animation-duration: 1ms;
  animation-timeline: scroll();
  animation-range-end: 200px;
}

@keyframes colorAnimation {
  from {
    background-color: rgb(112 71 152 / 0%);
    height: 90px;
  }
  to {
    background-color: var(--nav-background);
    height: 65px;
  }
}



@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@supports (animation-timeline: view()) {
  .come-in {
    animation: come-in;
    animation-timeline: view();
    animation-duration: 1ms;
    animation-range-start: -300px;
    animation-range-end: 800px;
  }
}



@keyframes come-in {
  0% {
    transform: translate(0, -150px);
    opacity: 0.5;
    scale: .8;
  }
  100% {
    transform: translate(0px, 0px);
    opacity: 1;
    scale: 1;
  }
}

.fall {
  transform: translateY(-20vh);
  animation: fall 1s forwards;
  opacity: 0.3;
}


@keyframes fall {
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.card-header{
  height: 200px;
  width: 100%;
  background: red;
  border-radius:100% 0% 100% 0% / 0% 50% 50% 100%;
  display: grid;
  place-items: center;

}

.card-background-one{
  background: linear-gradient(to left, var(--card2-gradient-color1), var(--card2-gradient-color2));
}
.card-background-two{
  background: linear-gradient(to left, var(--card3-gradient-color1), var(--card3-gradient-color2));
}
.card-background-three{
  background: linear-gradient(to left, var(--card4-gradient-color1), var(--card4-gradient-color2));
}

.violet-bg {
  background: linear-gradient(124deg, var(--violet-background) 30%, var(--purple-background)  61%);
}

@supports (animation-timeline: view()) {
  .appear {
    animation: appear .1s forwards;
    animation-timeline: view();
    animation-range: -50px;
  }
  .fade-out {
    animation: fade-out linear;
    animation-timeline: view();
    animation-range: exit -200px;
  }
}


@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(50px) scale(.9);
  }
  50% {
    opacity: 1;
    transform: translateY(0px);
    transform: scale(1);
  }

  75% {
    opacity: 1;
    transform: translateY(0px);
    transform: scale(1);
  }

  100% {
    transform: scale(.9);
    opacity: .7;
  }
}

.custom-dropdown {
  position: relative;
  display: inline-block;
}

.custom-dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: -1;
  right: 0;
  background-color: var(--nav-background);
}

.custom-dropdown:hover .custom-dropdown-content {
  display: block;
}